﻿@{
    ViewBag.Title = "About this Website";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4 col-sm-6 colxs-12">
        <h3 class="alert-danger">
            Please use with caution
        </h3>
        <p>This is a test site for example purposes only</p>
        <p>It <b>will</b> be taken down and distroyed if necessary</p>
    </div>

    <div class="col-md-4 col-sm-6 colxs-12">
        <h3 class="alert-success">
            If you like what you see please, leave a comment in the survey
        </h3>
        <p>if you don't you can also leave a comment in the survey</p>
        <p>but be kind to the website and dont harm the site and others</p>
    </div>

    <div class="col-md-4 col-sm-6 colxs-12">
        <h3 class="alert-info">
            It makes good use of Bootstrap
        </h3>
        <p>Also for different media</p>
        <p>Thank you bootstrap</p>
    </div>
</div>
