﻿
@{
    ViewBag.Title = "AdminPage";
}

<h2 class="text-primary">Admin Page</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h3>Main enrollment page</h3>
                <p>@Html.ActionLink("Enrollments", "Index", "Enrollment", null, new {Id ="Enroll_Admin_Btn", @class = "btn btn-success btn-large" })</p>             
            </div>
            <div class="col-md-3">
                <h3>Main Student page</h3>
                <p>@Html.ActionLink("Students", "Index", "Student", null, new { Id = "Student_Admin_Btn", @class = "btn btn-success btn-large" })</p>
            </div>
            <div class="col-md-3">
                <h3>Main Course page</h3>
                <p>@Html.ActionLink("Courses", "AdminIndex", "Course", null, new { Id = "Course_Admin_Btn", @class = "btn btn-success btn-large" })</p>
            </div>
            <div class="col-md-3">
                <h3>Main Student Contact page</h3>
                <p>@Html.ActionLink("ContactDetails", "Index", "ContactDetail", null, new { Id = "Comtact_Admin_Btn", @class = "btn btn-success btn-large" })</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h3>Main Book page</h3>
                        <p>@Html.ActionLink("Books", "Index", "Book", null, new { Id = "BookAdminBtn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Instructor page</h3>
                        <p>@Html.ActionLink("Instructors", "Index", "Instructor", null, new { Id = "Instruct_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Registration page</h3>
                        <p>@Html.ActionLink("Registrations", "Index", "Registration", null, new { Id = "Reg_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main College page</h3>
                        <p>@Html.ActionLink("Colleges", "Index", "College", null, new { Id = "College_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h3>Main Module page</h3>
                        <p>@Html.ActionLink("Modules", "Index", "Module", null, new { Id = "Module_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Survey page</h3>
                        <p>@Html.ActionLink("Surveys", "Index", "Survey", null, new { Id = "Survey_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Register Instructor role page</h3>
                        <p>@Html.ActionLink("Register Instructor", "RegisterInstructor", "Account", null, new { Id = "RegInstruct_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Register Student into role page</h3>
                        <p>@Html.ActionLink("Register Student", "RegisterStudent", "Account", null, new { Id = "RegStudent_Admin_Btn", @class = "btn btn-success btn-large" })</p>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                    
                    <div class="col-md-3">
                        <h3>Main Timetable page</h3>
                        <p>@Html.ActionLink("Timetable", "Index", "Timetable", null, new { Id = "Survey_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Main Attendence page</h3>
                        <p>@Html.ActionLink("Attendence", "Index", "Attendence", null, new { Id = "Survey_Admin_Btn", @class = "btn btn-success btn-large" })</p>
                    </div>
                    @*<div class="col-md-3">
        <h3>Main Register Instructor page</h3>
        <p>@Html.ActionLink("Register Instructor", "RegisterInstructor", "Account", null, new { Id = "RegInstruct_Admin_Btn", @class = "btn btn-success btn-large" })</p>
    </div>
    <div class="col-md-3">
        <h3>Main Register Student page</h3>
        <p>@Html.ActionLink("Register Student", "RegisterStudent", "Account", null, new { Id = "RegStudent_Admin_Btn", @class = "btn btn-success btn-large" })</p>
    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

