﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <hr />

    Way up Highway<br />
    Stairways to Heaven<br />
    Cloud 9<br />
    <hr />

    <abbr title="Phone">P:</abbr>
    425.555.0100
    <hr />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>