﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="virtual">Virtual Global College</h1>

        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-primary">Book Store</h2>
        <img src="~/Content/Images/Book.jpg" width="240" height="200" /><br /><br /><br />
        <p>@Html.ActionLink("List of Books", "Index", "Store", null, new {Id = "BookList", @class = "btn btn-success btn-large" })</p>
        
    </div>
    <div class="col-md-4">
        <h2 class="text-primary">Courses</h2>
        <p>Pick a course to suit your needs</p>
        <img src="~/Content/Images/course.jpe" width="240" height="200" /><br />
        <p>@Html.ActionLink("List of Courses", "Index", "Course", null, new { Id = "Courses", @class = "btn btn-success btn-large" })</p>      
    </div>
    <div class="col-md-4">
        <h2 class="text-primary">Survey</h2>
        <img src="~/Content/Images/survey.png" width="260" height="240" />
        <p>@Html.ActionLink("Take our Survey", "Create", "Survey", null, new { Id = "SurveyPage", @class = "btn btn-success btn-large" })</p>        
    </div>
</div>