﻿
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div class="row">
    <div class="col-md-5 alert-info">
        <h3>Thank you for you enrollment</h3>
        <p>This will be processed shortly</p>
        <p>You will get confirmation on this by email</p>
        <p>Please feel free to look around the site or to contact us for any enquiries</p>
    </div>

    <div class="col-md-7 alert-success">
        <h3>After you enrollment is processed</h3>
        <p>If successful you will get an email with your details about the next steps</p>
        <p>this will contain payment and login details and a link to login as a student</p>
        <p>you must change your password as soon as possible, we wish you all the success with us at Virtual Global College</p>
    </div>
</div>
<br />

<p><a class="btn btn-success" @Html.ActionLink("Home page", "Index", "Home")</a></p>