﻿@model IEnumerable<VirtualGlobalCollege.Models.Timetable>

@{
    ViewBag.Title = "Business";
}

<h2 style="color: red">Business Management</h2>


<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wednesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thursday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saturday)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.CourseTitle == "Business Management")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tuesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wednesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thursday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Friday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saturday)
                </td>
            </tr>
        }

    }

</table>

