﻿
@{
    ViewBag.Title = "paymentType1";
}
<script>
            function myFunction() {
                alert("Error: Please contact College Admin for more payment options");
            }
</script>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>
            &emsp;
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Please choose your payment type</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>
            &emsp;
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <form action="" method="POST" id="payment-form">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_3GDwuECguZI4vRWfc8YTzFrm"
                    data-amount="250000"
                    data-name=""
                    data-description="HNC"
                    data-image="/img/documentation/checkout/marketplace.png"
                    data-zip-code="true"
                    data-locale="auto"
                    data-currency="eur"></script>
        </form>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <button class="btn-success" onclick="myFunction()">Bank Transfer</button>       

    </div>
</div>

