﻿@model IEnumerable<VirtualGlobalCollege.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Enrollment</h2>

<div class="col-md-12 col-xs-12 col-sm-12">
   @foreach (var item in Model)
   {
       <div class="col-md-6 col-xs-6 col-sm-6">
           <div class="panel panel-default">
               <!-- Default panel contents -->
               <div class="panel-heading panel-danger"><h4><b>@Html.DisplayFor(modelItem => item.Title)</b></h4></div>
               <div class="panel-body">
                   <p>@Html.DisplayFor(modelItem => item.Description)</p>
               </div>

               <!-- List group -->
               <ul class="list-group">
                   <li class="list-group-item"><b>Fee: </b>€ @Html.DisplayFor(modelItem => item.Fee)</li>
                   <li class="list-group-item"><b>Start Date:</b> @Html.DisplayFor(modelItem => item.StartDate)</li>
                   <li class="list-group-item">@Html.ActionLink("Enroll in course", "Create", "Registration", null, new {Id = item.CourseID, @class = "btn btn-success btn-large" })</li>
                   @*@Html.ActionLink("Enroll in course", "Create", "Registration")*@
               </ul>
           </div>
       </div>
   }



</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructors.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollegeID)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructors.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseID })
        </td>
    </tr>
}

</table>*@
