﻿@model VirtualGlobalCollege.Models.Survey

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q8)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
