﻿@model VirtualGlobalCollege.Models.Course

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_BookStore.cshtml";
}

<br /><br /><hr />
<div class="col-md-12 col-xs-12 col-sm-12">
    @*<h4>Browsing Courses: @Model.Title</h4>*@

    <div class="course">
        <h3><em>@Model.Title</em> Course</h3>
    <p><em>Click on a book for option to buy</em></p>

        <ul id="book-list" style="list-style-type: none">
            @foreach (var book in Model.Books)
            {
                <li>
                    <h6><b>Condition: </b><em class="alert-warning">@book.Condition</em></h6>
                    <a href="@Url.Action("Details", new { id = book.BookID })">
                        <span>@book.Title</span><br />
                    </a><br />
                    <p>
                        <b>€ </b>@book.Price <br />
                        <span>[<em>@book.StockLevel</em> : Left]</span>
                    </p>
                    @*@if(StockLevel > 6)
                        {
                        <p><em>Only </em> <b>@book.StockLevel </b> <b>left</b></p>
                        }*@
                </li>
                @*<p><b>Price: </b>€ @String.Format("{0:F}", Model.Price)-
                       <b>[ </b><em>@book.StockLevel</em> Left<b> ]</b>
                    </p>*@
            }
        </ul><br /><br />
    </div><br /><br />

</div>

