﻿@model VirtualGlobalCollege.Models.Book

@{
    ViewBag.Title = "Book: -" + Model.Title;
    Layout = "~/Views/Shared/_BookStore.cshtml";
}
<script>
    Stripe.setPublishableKey('pk_test_3GDwuECguZI4vRWfc8YTzFrm');

    $(document).ready(function () {
        $("#payment-form").submit(function (event) {
            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");
            // createToken returns immediately - the supplied callback submits the form if there are no errors
            Stripe.createToken({
                number: $('#CardNumber').val(),
                cvc: $('#CVC').val(),
                exp_month: $('#ExpirationMonth').val(),
                exp_year: $('#ExpirationYear').val()
            }, stripeResponseHandler);
            return false; // submit from callback
        });
    });

    function stripeResponseHandler(status, response) {
        if (response.error) {
            // re-enable the submit button
            $('.submit-button').removeAttr("disabled");
            // show the errors on the form
            $(".payment-errors").html(response.error.message);
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' id='stripeToken' name='stripeToken' value='" + token + "' />");
            // and submit
            form$.get(0).submit();

        }
    }
</script>

<br /><br /><br /><hr />
<div class="col-md-5 col-xs-8 col-sm-6">


    <div class="container">
        <br />
        <h4>Course: @Model.Course.Title</h4>
        <span class="payment-errors"></span>
        <div id="book-details">
            <h3><b>Condition: </b><em class="alert-warning">@Model.Condition</em></h3>
            <p><b>Book: </b>@Model.Title</p>
            <p><b>Author: </b>@Model.Author</p>
            <p>
                <b>Price: </b>€ @String.Format("{0:F}", Model.Price)
                - <b>[ </b><em>@Model.StockLevel</em> Left<b> ]</b>
            </p>
            @if (User.IsInRole("Admin") || User.IsInRole("Instructor")  || User.IsInRole("Student"))
            {
                if (@Model.StockLevel > 0)
                {
                    @*<p><a class="btn btn-success" @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.BookID }, "")</a></p>*@
                    <form action="" method="POST" id="payment-form">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_3GDwuECguZI4vRWfc8YTzFrm"
                            data-amount=@Model.price
                            data-name=@Model.Course.Title
                            data-description=@Model.Title
                            data-image="/img/documentation/checkout/marketplace.png"
                            data-zip-code="true"
                            data-locale="auto"
                            data-currency="eur"></script>
                    </form>
                }
                else
                {
                    <p class="text-danger"><em>Please contact the college for futher details
                    on when more stock will be made available</em></p>
                }
            }
            else
            {
                <p class="text-danger"><em>You must be logged in to buy books from this college</em></p>
                <p>@Html.ActionLink("Login", "Login", "Account", routeValues: new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["id"]) }, htmlAttributes: new { id = "loginLink" })</p>
            }
            
        </div>
        <a href='javascript:history.go(-1)'>Return to book list</a>
    </div>
</div>

<div class="col-md-4">
    @if (Model.ImageUrl != null)
            {
        <div class=" col-md-4">
            <img src="@Url.Content(Model.ImageUrl)" alt="alternative text" />
            @*@Model.ImageUrl*@
        </div>
    }
</div>

