﻿@model IEnumerable<VirtualGlobalCollege.Models.Course>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_BookStore.cshtml";
}

<br /><br /><hr />
<div class="col-md-8 col-xs-12 col-sm-12">
    <h4 class="text-danger"><b>Choose a Courses</b></h4>
    <p>To see a list of Books in that course</p>
    <p>
        Select from @Model.Count() Courses:
    </p>

    <ul style="list-style-type: none">
        @foreach (var course in Model)
        {
            <li>@Html.ActionLink(course.Title, "Browse", new { course = course.Title })</li>
        }
    </ul>

</div>


