﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url('../../Content/Images/College.JPG');
    background-size: cover;
    height: 300px;
    width: 100%;
    color: #000;
    font-family: 'Helvetica Neue' !important;
    font-stretch: expanded;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
 .jumbotron h1 {
   font-size: 35px !important;
}
 .jumbotron lead {
    font-family: 'Helvetica Neue' !important;
    font-size: 30px !important;
}

ul#book-list
{
	list-style: none;
	margin-left: 0px;
}

ul#book-list li
{
	height: 150px;
	width: 150px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#book-list li a, ul#book-list li .button
{
	font-size: 13px;
	float: left;
}

ul#book-list li a span
{
	color: #005bff;
	text-decoration: underline;
}
div#mainarea{
    width:75%;
    float: left;
}

div#sidebar{
    width:25%;
    float: right;
}
