﻿@model IEnumerable<VirtualGlobalCollege.Models.Attendence>

@{
    ViewBag.Title = "Attendence";
}
<br />

<a href="/InstructorData/Index">Back to Instructor page</a>
<h2>Attendences</h2>

<div class="container">
    <div class="table-border">
        <table class="table table-border">
            <thead>
                <tr style="border: solid thin; margin-left: 25px;">
                    <th>Module</th>
                    <th>Student Name</th>
                    <th>Lesson 1</th>
                    <th>Lesson 2</th>
                    <th>Lesson 3</th>
                    <th>Lesson 4</th>
                    <th>Lesson 5</th>
                    <th>Lesson 6</th>
                    <th>Lesson 7</th>
                    <th>Lesson 8</th>
                    <th></th>
                </tr>               
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.table == "one")
                    {
                        <tr style="border: solid thin; margin-left: 25px;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Module)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson4)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson5)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson6)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson7)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson8)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

    
