﻿@model VirtualGlobalCollege.Models.Attendence

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.table)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson8)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
