﻿@model VirtualGlobalCollege.Models.Attendence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.table)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson8)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
