﻿@model IEnumerable<VirtualGlobalCollege.Models.Attendence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.table)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson8)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.table)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson8)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
