﻿@model IEnumerable<VirtualGlobalCollege.Models.Module>

@{
    ViewBag.Title = "Modules";
}

<h2 class="text-primary">Main Module Page</h2>

<p>
    @Html.ActionLink("Back to main Admin Page", "AdminPage", "Home") | 
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ModuleID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID })
            </td>
        </tr>
    }

</table>
