﻿@{
    ViewBag.Title = "BookStore";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Virtual Global College</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Virtual Global College", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminPage", "Home")
                        }
                    </li>

                       
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="header" class="navbar-brand">
        <div class="container col-md-10 col-md-offset-2">
            <div id="sub-header">
                <ul id="navlist" class="nav navbar-nav navbar-left">
                    <li>
                        <img src="~/Content/Images/Logo.jpe" style="height: 60px; width: 100px; margin-top: 5px; margin-left: 150px;" />
                        <h3><b>Virtual Global College Book Store</b></h3>
                    <li class="navbar-right"><a href="@Url.Content("~/Store/")">BookStore</a></li>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    <div class="container body-content">
        <hr />
        <div id="main">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <hr />
        <div id="footer">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Virtual Global College | Developer: <a href="mailto:owentaaffe@gmail.com">Owen Taaffe</a></p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

