﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Virtual Global College</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Virtual Global College", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { Id = "Homelink" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { Id = "Aboutlink" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { Id = "Contactlink" })</li>                                     

                    <li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor") || User.IsInRole("Student"))
                        {
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TimeTables<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Computer & ...", "Computer", "Timetable", null, new { Id = "Adminlink" })</li>
                                <li>@Html.ActionLink("Business", "Business", "Timetable", null, new { Id = "Adminlink" })</li>
                                <li>@Html.ActionLink("Hospitality", "Hospitality", "Timetable", null, new { Id = "Adminlink" })</li>
                            </ul>
                        </li>
                        }
                    </li>            
                    
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminPage", "Home", null, new { Id = "adminpage" })
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                        {
                            @Html.ActionLink("Instructors", "Index", "InstructorData", null, new { Id = "Instlink" })
                        }
                    </li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
        <hr />
    <div id="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Virtual Global College | Developer: <a href="mailto:owentaaffe@gmail.com">Owen Taaffe</a></p>
        </div>
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

