﻿@model IEnumerable<VirtualGlobalCollege.Models.College>

@{
    ViewBag.Title = "Colleges";
}

<h2 class="text-primary">Main Colleges Page</h2>

<p>
    @Html.ActionLink("Back to main Admin Page", "AdminPage", "Home") | 
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CollegeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CollegeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CollegeID })
        </td>
    </tr>
}

</table>
