﻿@model VirtualGlobalCollege.ViewModel.InstructorDataIndex

@{
    ViewBag.Title = "Instructors";
}

<h2 class="text-danger">Instructors</h2>
<Section>
    <div id="mainarea">
        <table class="table-bordered">
            <tr id="instructor-Table">
                <th>&ensp; Last Name</th>
                <th>&ensp; First Name</th>
                <th>&ensp; Hire Date</th>
                <th>&ensp; Modules</th>
            </tr>
            @foreach (var item in Model.Instructors)
            {
                string selectedRow = "";
                if (item.InstructorID == ViewBag.InstructorID)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        &ensp; @Html.DisplayFor(modelitem => item.LastName)&ensp;
                    </td>
                    <td>
                        &ensp; @Html.DisplayFor(modelitem => item.FirstName)&ensp;
                    </td>
                    <td>
                        &ensp; @Html.DisplayFor(modelitem => item.HireDate)&ensp;
                    </td>
                    <td>
                        &ensp; @{
                            foreach (var module in item.Modules)
                            {
                                @module.ModuleID @: &ensp; @module.Title<br />&ensp;
                    }
                        }&ensp;&ensp;
                    </td>
                    <td>
                        &ensp;
                        @Html.ActionLink("Select", "Index", new { id = item.InstructorID })&ensp;&ensp;
                    </td>
                </tr>
                            }
        </table>

        @if (Model.Modules != null)
        {
            <h3 class="text-danger">Modules Taught by Selected Instructor</h3>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Unit No.</th>
                    <th>Module Title</th>
                    <th>Course</th>
                </tr>

                @foreach (var item in Model.Modules)
                {
                    string selectedRow = "";
                    if (item.ModuleID == ViewBag.ModuleID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @Html.ActionLink("Select", "Index", new { moduleID = item.ModuleID })
                        </td>
                        <td>
                            @item.ModuleID
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Course.Title
                        </td>
                    </tr>
                }

            </table>
        }

        @if (Model.Enrollments != null)
        {
            <h3 class="text-danger" id="StudEnrollSelList">
                Students Enrolled in Selected Course
            </h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @item.Student.FullName
                        </td>
                        <td>
                            @item.Student.Email
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        }

    </div>
    <div id="sidebar">
        <ul type="none">
            <li style="font-size:20px;"><a href="/Attendence/Attendence">Attendence table one</a></li>
            <li><a href="/Attendence/Attendence2">Attendence table two</a></li>
        </ul>            
    </div>

</Section>



